@use '../general/varibles.scss' as var;

* {
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
        background-color: #af1313;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: linear-gradient(180deg, #00c6fb, #005bea);
    }
}
 
body {
    margin: 0; 
    font-family: Quicksand, sans-serif;
    font-size: 16px;
}
 
a {
    text-decoration: none;
}
 
ul {
 
    li {
        list-style: none;
    }
}

button {
    background-color: transparent;
    padding: 0.25rem 0.5rem;
    font-size: inherit;
    cursor: pointer;
}
  
button:disabled {
    cursor: not-allowed;
    color: var.$color-gray;
}

label, input {
    display: block;
}
  
label, .label {
    font-size: 18px;
    margin-bottom: .5rem;
    display: block;
}
  
label {
    cursor: pointer;
}

input, select, textarea {
    margin-bottom: 2rem;
    padding: 8px;
    font-size: 16px;
    border: 1px solid var.$color-white_2;
    border-radius: 3px;
    min-width: 185px;
    max-width: fit-content;
    background: linear-gradient(to bottom,#f4f4f4 0,#fff 12%);
}

input {
    
    &.ng-invalid.ng-touched {
        border: 2px solid var.$color-red;
    }

    &.ng-valid.ng-touched {
        border: 2px solid var.$color-green;
    }
}