@import '../general/varibles.scss';

header {
    padding: .5rem 1rem;
    background-color: $color-gray_2;
}

main {
    padding: .5rem 1rem;
    background-color: $color-white;
}

footer {
    padding: .5rem 1rem;
    background-color: $color-gray_2;
}

.active a {
    color: $color-red;
}