<article class="header__container header">
    <section class="header__logo">
        <a [routerLink]="['/home']">
            <img [src]="logo">
        </a>
    </section>

    <nav class="header__nav">
        <ul>
            <li 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact:true}"
                >
                <a [routerLink]="['/home']">
                    Grocery
                </a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/cart']">
                    Cart
                </a>
            </li>
        </ul>
    </nav>
</article> 