<article class="header__container header">
    <section class="header__logo">
        <a [routerLink]="['/home']">
            <img [src]="logo">
        </a>
    </section>

    <nav class="header__nav">
        <ul>
            <li 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact:true}"
                >
                <a [routerLink]="['/home']">
                    Grocery
                </a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/cart']">
                    Cart
                </a>
                <ng-container *ngIf="countOfItems$ | async as countOfItems">
                    <small>
                        <ng-container *ngIf="countOfItems; then countBlock else emptyBlock"></ng-container>
                        <ng-template #countBlock>
                            <span>
                                {{ countOfItems }}
                            </span>
                        </ng-template>
                        <ng-template #emptyBlock>
                            <span>
                                0
                            </span>
                        </ng-template>
                    </small>
                </ng-container>
            </li>
        </ul>
    </nav>
</article> 