@import '../../styles//general/mixins.scss';
@import '../../styles/general/varibles.scss';

.header {

    &__container {
        @include flexBox($ai: center, $jc: start, $fd: row, $fw: no-wrap);
    }

    &__logo {
         
        height: 10vh;

        a {
            img {
                @include widhtHeight($w: 100%, $h: 100%);
            }
        }
    }

    &__nav {
        @include widhtHeight($w: 100%);

        ul {
            @include flexBox($ai: center, $jc: start, $fd: row, $fw: nowrap);

            li {
                position: relative;
                padding: 0 .6rem;
                font: normal 2rem/1rem "Arial", "Monaco", sans-serif;

                small {
                    position: absolute;
                    top: -16px;
                    right: -16px;
                    font-size: 1rem;
                    padding: 5px;
                    background: $color-red_3;
                    border-radius: 55%;
                    color: $color-white;
                }
            }
        }
    }
}