@import '../../../../styles/general/varibles.scss';

.auth {
    width: 50%;
    margin: 0 auto;
    padding: 16px;
    border: 3px solid $color-red;
    border-radius: 26px;
    font-family: Arial, Helvetica, sans-serif;

    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    &__signup {
        background-color: white;
    }

    &__signin {
        background-color: $color-gray_2;
        text-align: center;
        padding: 1rem 0;

        p {
            margin: 0;
        }
    }

    button {
        background-color: $color-green;
        color: $color-white;
        padding: 0.75rem 0.5rem;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;

        &:disabled {
            cursor: not-allowed;
            background-color: $color-gray; 
        }
    }

    a {
        color: $color-blue;
    }
}