<form 
    class="auth auth__form"
    [formGroup]="signupForm"
    (ngSubmit)="onSubmit()"  
    >
    <section class="auth__signup">
        <h1>
            Register
        </h1>
        <p>
            Please fill in this form to create an account.
        </p>
        <hr>
        <app-smart-profile formControlName="profile"></app-smart-profile>
        <!-- <app-control-accessor
            label="User Name"
            type="text"
            placeholder="Please enter your name"
            formControlName="name"
            [minlength]="3"
            [required]="true"
            [patternLettersNumbers]="'^[a-zA-Z][a-zA-Z0-9]+$'"
            ngModel
            >
        </app-control-accessor>

        <app-control-accessor
            label="Email"
            type="email"
            placeholder="Please enter your email"
            formControlName="email"
            [required]="true"
            [patternEmail]="'[A-Za-z0-9._%-]+@[A-Za-z0-9._%-]+.[a-z]{2,3}'"
            ngModel
            >
        </app-control-accessor>
    
        <app-control-accessor
            label="Password"
            type="password"
            placeholder="Please enter your password"
            formControlName="password"
            [required]="true"
            [patternPassword]="'(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$'"
            ngModel
            >
        </app-control-accessor>

        <app-control-accessor
            label="Confirm password"
            type="password"
            placeholder="Please repeat your password"
            formControlName="passwordRepeat"
            [required]="true"
            [patternPassword]="'(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$'"
            ngModel
            >
        </app-control-accessor> -->

        <hr>
    
        <button 
            type="submit" 
            [disabled]="signupForm.invalid || signupForm.pending"
            >
            Signup
        </button>
        <button 
            type="button" 
            (click)="resetForm()"
            >
            Reset
        </button>
    </section>
    
    <section class="auth__signin">
        <p>
            Already have an account? <a href="/auth/log-in">Sign in</a>.
        </p>
    </section>
</form>

<section>
    <p>
        Form is {{ signupForm.valid ? 'Valid' : 'Invalid'}}
    </p>
      
    <pre>
        {{ signupForm.value | json }}
    </pre>
</section>
