<section class="home__container home">

    <ng-container *ngIf="errorMessage$ | async as errorMessage else showGrocery">
        <h1>
            Grosery is empty
        </h1>
        <strong>
            Error from backend: {{ errorMessage }}
        </strong>
    </ng-container>

    <ng-container *ngIf="isPreloader$ | async">
        <img 
            class="home__loader loader"
            src="assets/images/loader.gif"
            alt="Loading!!!"
        />
    </ng-container>

    <ng-template #showGrocery>
        <h1>
            Catalog grocery ✨
        </h1>
        <ul>
            <li>
                <ng-container *ngIf="groseries$ | async as groceries">
                    <app-grocery 
                        *ngFor="let grocery of groceries trackBy: trackByFn"
                        [grocery]="grocery"
                        >
                        <button 
                            tooltipDirective
                            imageCart
                            >
                            <ng-template #tooltipContent>
                                <div class="tooltip-container">
                                    Add {{ grocery.name }} to cart
                                </div>
                            </ng-template>
                            <img  
                                openModal 
                                [title]="'Add item to cart'"
                                [text]="'Are you sure you want to add to your shopping cart'"
                                [data]="grocery"
                                (confirmActionEvent)="onAddItemToCart($event)"
                                src="assets/images/cart.png"
                                #contentImage
                            />
                        </button>
                        <img 
                            toolTip
                            src="assets/images/weighing-machine.png"
                            imageMachine
                            #contentImage
                            (click)="aboutCalories(grocery.nutritionalId)"
                        />
                    </app-grocery>
                </ng-container>
            </li>
        </ul>
    </ng-template>

</section>