<form [formGroup]="passwordReactiveForm">
    <ng-container>
        <label for="password">
            Password
        </label>
        <input 
            id="password"
            type="text"
            placeholder="Please enter your password"
            formControlName="password"  
        />
        <div 
            class="error" 
            *ngIf="control['password'].invalid && (control['password'].touched || control['password'].dirty)"
            >
            <ng-container *ngIf="control['password'].hasError('required')">
                <strong>🚫&nbsp;Password is required</strong>
            </ng-container>
            <ng-container *ngIf="control['password'].hasError('pattern')">
                <strong>🚫&nbsp;Password must consist of numbers, letters in lower and upper case</strong>
            </ng-container>
            <ng-container *ngIf="control['password'].hasError('minlength')">
                <strong>🚫&nbsp;Password must be at least 8 haracters long</strong>
            </ng-container>
            <ng-container *ngIf="control['password'].hasError('maxlength')">
                <strong>🚫&nbsp;Password should not be longer than 26 haracters</strong>
            </ng-container>
        </div>
    </ng-container>

    <ng-container>
        <label for="confirm-password">
            Confirm password
        </label>
        <input 
            id="confirm-password"
            type="text"
            placeholder="Please confirm your password"
            formControlName="confirmPassword"  
        />
        <div 
            class="error" 
            *ngIf="control['confirmPassword'].invalid && (control['confirmPassword'].touched || control['confirmPassword'].dirty)"
            >
            <ng-container *ngIf="control['confirmPassword'].hasError('required')">
                <strong>🚫&nbsp;Password repeat is required</strong>
            </ng-container>
            <ng-container *ngIf="control['confirmPassword'].hasError('missmatch')">
                <strong>🚫&nbsp;Passwords must be match</strong>
            </ng-container>
        </div>
    </ng-container>
</form>