@import '../../styles/general/varibles.scss';

.accessor {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  position: relative;
    
  &__error-message {
    font-size: 0.85rem;
    color: $color-red;
    position: absolute;
    bottom: -6%;
  }

  label {
    font-size: 0.85rem;
    margin-bottom: 0.25rem;
    font-weight: bold;
  }
    
  input {
    border: none;
    border-bottom: solid 1px $color-black;
    font-size: inherit;
    line-height: 1;
    padding: 0.25rem 0;
    
    &:focus {
      outline: none;
      border-width: 2px;
      background-color: $color-white_2;
    }
    
    &:disabled {
      border-bottom: solid 1px $color-gray;
    }
  }
    
  &.required {
    label::after {
      content: '*';
      position: relative;
      top: -3px;
      left: 3px;
      font-size: 0.85rem;
      color: $color-red;
    }
  }
}