.cart {
    display: flex;
    margin-bottom: 2rem;

    &__description {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;

        li {
            padding: 0 .2rem;
        }
    }

    &__actions {

        button {
            margin: 0 .3rem;
        }
    }

}
  


