.cart {
    
    &__grocery {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        min-width: 100%;

        span {
            margin: 0 2px;
        }
  
        .cart__number-of-items {
            min-width: 25px;
        }

        .cart__name, .cart__price {
            min-width: 60px;
        }

        :last-child {
            margin-left: auto;
        }

        .cart__total-price {
            font-weight: bold;
        }
    }

}
  


