<section class="cart__container cart">
    <ul class="cart__description">
        <li>
            {{ cartItem.item.name }}
        </li>
        <li>
            {{ cartItem.countOfItems }} x
        </li>
        <li>
            {{ cartItem.item.price | currency }} =
        </li>
        <li>
            {{ (cartItem.countOfItems) * (cartItem.item.price) | currency }}
        </li>
    </ul>

    <div class="cart__actions">
        <button (click)="increaseItemInCart(cartItem)">
            Increase
        </button>
        <button (click)="reduceItemInCart(cartItem)">
            Decrease
        </button>
        <button  (click)="removeItemFromCart(cartItem)">
            Delete
        </button>
    </div>
    <!-- <span class="cart__total-price">
        {{ cartItem.totalPrice | currency }}
    </span> -->
</section>
