<section class="cart__container cart">
    <div class="cart__grocery">
        <span class="cart__number-of-items">
            {{ cartItem.countOfItems }}
        </span>
        <span class="cart__name">
            {{ cartItem.item.name }}
        </span>
        <span class="cart__price">
            {{ cartItem.item.price | currency }}
        </span>
    
        <div class="cart__actions">
            <button (click)="increaseItemInCart(cartItem)">
                Increase
            </button>
            <button (click)="reduceItemInCart(cartItem)">
                Decrease
            </button>
            <button  (click)="removeItemFromCart(cartItem)">
                Delete
            </button>
        </div>
        <span class="cart__total-price">
            {{ cartItem.totalPrice | currency }}
        </span>
    </div>
</section>
