$color-white: #ffffff;
$color-white_2: #ccc;//+
$color-white_3: #fefefe;//+
$color-red: rgb(255, 0, 0);
$color-red_2: #e72727;
$color-red_3: #e72929;
$color-red_4: #af1313;
$color-black: rgb(0, 0, 0);
$color-black_2: rgb(0, 0, 0, 0.4);
$color-gray: gray;
$color-gray_2: #f1f1f1;//+
$color-gray_3: #444;
$color-whitesmoke: whitesmoke;
$color-blue: blue;//+
$color-green: green;//+