<form [formGroup]="passwordReactiveForm">
    <ng-container>
        <label for="password">
            Password
        </label>
        <input 
            id="password"
            type="text"
            placeholder="Please enter your password"
            formControlName="password"  
        />
        <div 
            class="error" 
            *ngIf="control['password'].invalid && (control['password'].touched || control['password'].dirty)"
            >
            <ng-container *ngIf="control['password'].hasError('required')">
                <strong>🚫&nbsp;Password is required</strong>
            </ng-container>
            <ng-container *ngIf="control['password'].hasError('pattern')">
                <strong>🚫&nbsp;Password must consist of numbers, letters in lower and upper case</strong>
            </ng-container>
            <ng-container *ngIf="control['password'].hasError('minlength')">
                <strong>🚫&nbsp;Password must be at least 8 haracters long</strong>
            </ng-container>
            <ng-container *ngIf="control['password'].hasError('maxlength')">
                <strong>🚫&nbsp;Password should not be longer than 26 haracters</strong>
            </ng-container>
        </div>
    </ng-container>

    <ng-container>
        <label for="confirm-password">
            Confirm password
        </label>
        <input 
            id="confirm-password"
            type="text"
            placeholder="Please confirm your password"
            formControlName="confirmPassword"  
        />
        <div 
            class="error" 
            *ngIf="control['confirmPassword'].invalid && (control['confirmPassword'].touched || control['confirmPassword'].dirty)"
            >
            <ng-container *ngIf="control['confirmPassword'].hasError('required')">
                <strong>🚫&nbsp;Password repeat is required</strong>
            </ng-container>
            <ng-container *ngIf="control['confirmPassword'].hasError('mismatch')">
                <strong>🚫&nbsp;Passwords must be match</strong>
            </ng-container>
        </div>
    </ng-container>

    <ng-container>
        <label for="сode-question">
            Сode question and number
        </label>
         <select formControlName="codeQuestion">
            <option 
                *ngFor="let question of questions" 
                [value]="question"
                >
                {{ question }}
            </option>
        </select>
        <ng-container *ngIf="showAnswer">
            <ng-container>
                <label for="code-answer">
                    Code answer
                </label>
                <input 
                    id="code-answer"
                    type="text"
                    placeholder="Enter your code-answer"
                    formControlName="answer"  
                />
                <div 
                    class="error" 
                    *ngIf="control['answer'].invalid && (control['answer'].touched || control['answer'].dirty)"
                    >
                    <ng-container *ngIf="control['answer'].hasError('required')">
                        <strong>🚫&nbsp;Code Answer is required</strong>
                    </ng-container>
                    <ng-container *ngIf="control['answer'].hasError('pattern')">
                        <strong>🚫&nbsp;Code Answer must consist of letters</strong>
                    </ng-container>
                </div>
            </ng-container>
            <ng-container>
                <label for="significance">
                    Significance
                </label>
                <input 
                    id="significance"
                    type="text"
                    formControlName="significance"  
                />
            </ng-container>
        </ng-container>
    </ng-container>
</form>